@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
body {
  margin: 0;
  box-sizing: border-box;
}

.header {
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 280px;
  z-index: 1;
}
.header__background {
  position: absolute;
  left: 0% !important;
  margin-right: 100% !important;
  width: 100%;
  height: 280px;
  z-index: -1;
}
.header__h1 {
  color: white;
  text-align: center;
  width: 80%;
  padding-left: 10%;
}
.header input {
  text-align: center;
  border: none;
  margin-bottom: 2%;
  height: 40px;
  border-radius: 4px;
  width: 350px;
}
.header button {
  align-content: center;
  background-color: rgb(13, 110, 253);
  width: auto;
  height: 40px;
  border: none;
  color: white;
}
.header #mail {
  height: 40px;
}

.nav {
  font-family: Roboto;
  font-size: 20px;
  position: relative;
  height: 100px;
  display: flex;
}
.nav div {
  position: absolute;
}
.nav__logo {
  margin-left: 5%;
  margin-top: 37px;
}
.nav__logo a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: larger;
}
.nav__signup {
  margin-top: 20px;
  margin-right: 5%;
  right: 0%;
  height: 62px;
  width: 90px;
  background-color: rgb(13, 110, 253);
  border-radius: 4px;
}
.nav__signup a {
  color: rgb(255, 255, 255);
  font-size: 18px;
  text-decoration: none;
  height: 62px;
  width: 90px;
  position: absolute;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.puzzle {
  font-family: Roboto;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.div__article {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 50px;
}

.div__article__p {
  width: 80%;
  text-align: center;
  margin-bottom: 50px;
}

.fa-puzzle-piece {
  color: rgb(13, 110, 253);
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 50px;
}

form {
  padding-bottom: 5%;
  padding-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin-bottom: 50px;
  border-radius: 4px;
  border: 1px solid rgb(175, 174, 174);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}

form input {
  width: 70%;
  margin-bottom: 20px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgb(0, 0, 0);
  padding-left: 10px;
  color: grey;
}

form textarea{
  padding-top: 10px;
  width: 70%;
  margin-bottom: 20px;
  height: 80px;
  border-radius: 4px;
  border: 1px solid rgb(0, 0, 0);
  padding-left: 10px;
}

form button {
  width: 50%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgb(0, 0, 0);
  background-color: rgb(13, 110, 253);
  color: white;
}

footer {
  padding-top: 2%;
  padding-bottom: 1px;
  padding-left: 20px;
  width: 100%;
  background-color: rgb(241, 241, 241);
}

footer a {
  font-size: 12px;
  color: rgb(0, 0, 0);
  font-family: Roboto;
  text-decoration: none;
  color: blue;
}

footer p {
  font-size: 12px;
  color: rgb(0, 0, 0);
  font-family: Roboto;
}

@media (min-width: 769px) {
  .header {
    height: 400px;
  }
  .header__background {
    height: 400px;
  }
  .header__h1 {
    font-size: 40px;
    width: 50%;
    padding-left: 25%;
    padding-top: 5%;
  }
  .header input {
    width: 500px;
    font-size: 20px;
  }
  .header button {
    height: 45px;
    font-size: 20px;
  }
  .puzzle {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
  }
  form {
    width: 40%
  }
  .div__article__p {
    width: 50%;
  }
  form input {
    height: 60px;
  }
  form button {
    font-size: large;
    height: 60px;
  }
}

/*# sourceMappingURL=style.css.map */
